/**---------    Resetting    ---------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/**---------   font  -----------*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

html {
  font-family: "Inter", sans-serif;
  background-color: #f7f7f7;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1160px;
  margin: 0px auto;
}
.flex {
  display: flex;
}
.row {
  flex-direction: row;
}
.column {
  flex-direction: column;
}
.space-between {
  justify-content: space-between;
}
.space-evenly {
  justify-content: space-evenly;
}
.space-around {
  justify-content: space-around;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}
.wrap {
  flex-wrap: wrap;
}
/**---------    Navbar      ---------*/
.navbar {
  background-color: #fbf3e4;
  box-shadow: 0px 3px 59px #b9164614;
}
ul {
  list-style-type: none;
}
nav ul li a {
  padding: 0 2rem;
  color: #424242;
}
nav ul li a:hover {
  color: #fca738;
}
.navbar h1 {
  color: #105652;
  padding: 15px 0;
}

/**---------    Hero Section    ---------*/
.hero-section {
  max-height: 470px;
  background-color: #105652;
}
.hero-text {
  padding: 70px 10px 0 0;
}
.hero-title h1 {
  font-size: 2.5rem;
  font-weight: 500;
  color: #fca738;
  margin-bottom: 3px;
}
.hero-title h2 {
  font-size: 2.45rem;
  font-weight: 700;
  color: #fbf3e4;
}
.hero-para {
  color: #fbf3e4;
  font-size: 1.125rem;
  font-weight: 300;
  margin: 54px 0px 32px 0px;
}
.hero-image img {
  max-height: 470px;
}

/**----------    Buttons   ----------*/
.button {
  color: #fbf3e4;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 8px;
}
.button-blue {
  padding: 14px 52px;
  background: #09bead 0% 0% no-repeat padding-box;
  box-shadow: 0px 16px 29px #0bbead69;
  opacity: 0.99;
  margin-right: 36px;
}
.button-blue:hover {
  transform: scale(1.1);
  transition: all 0.7s;
}
.button-yellow {
  padding: 15px 27px;
  background: #fca738 0% 0% no-repeat padding-box;
  box-shadow: 0px 16px 28px #f57f1769;
  opacity: 1;
}

/*!---------  Backgoround Waves !Need to be fixed  ------------*/
.waves {
  position: relative;
}
svg {
  display: inline-block;
  position: absolute;
  bottom: 0;
  z-index: 1;
}
.z {
  position: relative;
  z-index: 2;
}

/**---------     About section     ----------*/
.about {
  margin: 43px auto;
}
.about-card {
  height: 606px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 59px #10565221;
  border-radius: 20px;
  opacity: 1;
}
.about-image img {
  max-height: 100%;
}
.about-text h2 {
  margin-top: 27px;
  color: #105652;
  font-size: 2.2rem;
  font-weight: 700;
}
.about-text h2::after {
  content: "";
  display: block;
  max-width: 209px;
  margin: 13px 0 44px 0;
  border-top: 7px solid #fca738;
}
.about-text p {
  color: #105652;
  font-size: 1.13rem;
  font-weight: 400;
  line-height: 1.65;
  max-width: 536px;
  margin-bottom: 20px;
}
.about-lang {
  max-width: 535px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 30px #00000029;
  border-radius: 20px;
  padding: 15px 17px;
}
.about-lan p {
  color: #105652;
  font-weight: 500;
  font-size: 1rem;
}
.logos img {
  width: 50px;
}

/**----------     Portolio Section   -------------*/
.title h2 {
  color: #105652;
  font-size: 2.2rem;
  font-weight: 700;
}
.title h2::after {
  content: "";
  display: block;
  max-width: 209px;
  margin: 10px 0 44px 0;
  border-top: 7px solid #fca738;
}
.work {
  background-repeat: no-repeat;
  background-size: cover;
  height: 244px;
  width: 352px;
  border-radius: 12px;
  margin: 6px 0;
}
#work1 {
  background-image: url(./preview.avif);
}
#work3 {
  flex-basis: 450px;
  background-image: url(./preview3.webp);
}
#work2 {
  flex-basis: 300px;
  background-image: url(./preview2.webp);
}
#work4 {
  flex-basis: 300px;
  background-image: url(./preview4.webp);
}
#work5 {
  flex-basis: 450px;
  background-image: url(./preview5.avif);
}
#work6 {
  background-image: url(./preview6.avif);
}
/**---------     Resume Section      -----------*/
.resume {
  margin: 43px auto;
}
